@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap'); */
body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding-left : 1 rem;
    padding-right : 10 rem;
}
.container-centre{
    max-width: 600px;
    margin: auto;
}
